* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
body {
  width: 100dvw;
  position: relative;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
h2 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.2rem;
}
.profile,
.about-container,
.work-item {
  box-shadow: 5px 5px 15px #afafaf;
}
.work,
footer {
  padding: 0 14em;
}
.slanted {
  min-width: 100%;
  min-height: 60svh;
  background-color: turquoise;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  position: absolute;
  z-index: -1;
}

/* HERO SECTION */
.hero {
  padding: 4em 14em;
}
.hero-container {
  display: flex;
  align-items: center;
}
.profile {
  max-height: 374px;
}
.about-container {
  background-color: rgb(223, 223, 223);
  padding: 2em;
}
.about-heading {
  margin-bottom: 1em;
  text-align: center;
}
.about-description {
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

/* WORK SECTION */
.work {
  margin-bottom: 4em;
}
.work-heading {
  text-align: center;
  margin-bottom: 1em;
}
.work-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.work-item {
  border: 1px solid #ccc;
}
.work-info {
  padding: 1em;
}
.work-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.work-title-container img {
  max-height: 1.5rem;
  padding-right: 1em;
}
.work-title {
  font-size: 1.25rem;
}

/* CONTACT */
footer {
  background-color: turquoise;
  color: #202020;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 8em;
  padding: 2rem 0;
}

.contact-img img {
  max-height: 420px;
  max-width: 430px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 380px;
}
.contact-heading h4 {
  font-size: 1.75rem;
}
.contact-message p {
  text-align: center;
}

/* Media queries */

@media (max-width: 430px) {
  .hero {
    padding: 60px 0;
  }
  .hero-container {
    flex-direction: column;
  }
  .profile {
    max-height: 368px;
  }
  .about-container {
    background-color: transparent;
    box-shadow: none;
  }
  .about-heading {
    margin-bottom: 0.3em;
  }
  .about-description {
    margin: 0;
  }
  .work {
    padding: 0;
  }
  .work-lists {
    grid-template-columns: 1fr;
  }
  .work-container {
    padding: 0 2em;
  }
  footer {
    padding: 0;
    background-color: turquoise;
  }
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0;
  }
  .contact-heading {
    margin-top: 1.5em;
  }
  .get-in-touch {
    margin-bottom: 2em;
  }
  .contact-img {
    width: 100%;
  }
  .contact-img img {
    width: 100%;
    object-fit: cover;
  }
}
