* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
}

.slanted {
  width: 100svw;
  height: 80svh;
  position: absolute;
  background-color: turquoise;
  z-index: -1;
  transform: skewY(-10deg);
  transform-origin: left;
}

main {
  display: grid;
  grid-template-rows: 1fr, 2fr;
}

img {
  max-width: 100%;
  display: block;
}
.profile {
  transform: scale(1.25) translateX(1em);
  height: 280px;
}
.contact-image {
  object-fit: cover;
  height: 420px;
  width: 400px;
}

.hero {
  width: 70%;
  margin: 8em auto;
}
.hero-container {
  display: flex;
  background-color: rgb(223, 223, 223);
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 2em 2em 5em;
}
.about-heading {
  margin-bottom: 1em;
}
p {
  line-height: 1.5;
  font-size: 1.2rem;
}

.work-section {
  width: 70%;
  margin: auto;
}
.work-heading {
  margin-bottom: 1em;
  text-align: center;
}
.work-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.work-item {
  border: 1px solid #ccc;
}

.work-title,
.work-description {
  padding: 1em;
}

.hero-container,
.profile,
.work-item {
  box-shadow: 5px 5px 15px #afafaf;
}

.contact {
  display: flex;
  background-color: turquoise;
  justify-content: center;
  margin-top: 6em;
  padding: 4em;
}
.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  width: 33%;
  padding: 0 5em;
}
.contact-heading,
.contact-description,
.contact-address {
  text-align: center;
}
